@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #363537;
    color: white;
    padding: 0.25em;
}

a {
    color: #ffca00;
}

#copy-url a {
    font-weight: bolder;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    padding-left: 0.5em;
}
